<nz-layout>
  <app-common-header *ngIf="!ref" title="产品" moduleName="product" (onSearch)="search($event)" (onAdd)="add()"
    (onLoad)="load()">
  </app-common-header>
  <nz-content>
    <ng-template #totalTemplate let-total>总共 {{ total }} 条</ng-template>
    <nz-table #basicTable [nzData]="datum" nzShowSizeChanger [nzFrontPagination]="false" [nzShowTotal]="totalTemplate"
      (nzPageSizeChange)="pageSizeChange($event)" (nzPageIndexChange)="pageIndexChange($event)" [nzPageSize]="pageSize"
      [nzPageIndex]="pageIndex" [nzTotal]="total" (nzQueryParams)="onQuery($event)">
      <thead>
        <tr>
          <th>ID</th>
          <th>名称</th>
          <th>描述</th>
          <th>创建时间</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of basicTable.data; let i = index">
          <td>{{ data.id }}</td>
          <td>{{ data.name }}</td>
          <td>{{ data.desc }}</td>
          <td>{{ data.created }}</td>
          <td nzRight *ngIf="!ref">
            <app-operate [url]="'product'" [id]="data.id" (onSend)="load()"></app-operate>
          </td>
          <td *ngIf="ref">
            <a (click)="select(data.id)"> 选择 </a>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </nz-content>
</nz-layout>