:host {
  width: 100%;
  height: 100%;
  display: flex;
  padding: 10px;
}

nz-table {
  width: 100%;
}

nz-header {
  background-color: rgb(240, 242, 245);
  padding-left: 0;
  padding-right: 0;
  position: relative;

  nz-page-header-extra {
    position: absolute;
    right: 0;
  }
}

input {
  height: 100%
}
