<nz-space>
  <app-search-box
    *nzSpaceItem
    placeholder="设备id"
    (onSearch)="search($event)"
  ></app-search-box>
  <button *nzSpaceItem nz-button nzType="primary" (click)="add()">
    <i nz-icon nzType="plus"></i>
    新增
  </button>
</nz-space>
<nz-table #basicTable [nzData]="datum">
  <thead>
    <tr>
      <th>ID</th>
      <th>产品ID</th>
      <th>名称</th>
      <th>描述</th>
      <th>从站号</th>
      <th>创建时间</th>
      <th>操作</th>
    </tr>
  </thead>
  <tbody>
    <tr
      *ngFor="let data of basicTable.data; let i = index"
      (dblclick)="open(data.id)"
    >
      <td>{{ data.id }}</td>
      <td>{{ data.product_id }}</td>
      <td>{{ data.name }}</td>
      <td>{{ data.desc }}</td>
      <td>{{ data.slave }}</td>
      <td>{{ data.created }}</td>
      <td nzRight>
        <a
          nz-popconfirm
          nzPopconfirmTitle="确定删除?"
          (nzOnConfirm)="delete(i, data.id)"
          (nzOnCancel)="cancel()"
          nzPopconfirmPlacement="topLeft"
        >
          <i nz-icon nzType="delete"></i>
        </a>

        <nz-divider nzType="vertical"></nz-divider>
        <a (click)="edit(data.id, data)">
          <i nz-icon nzType="edit"></i>
        </a>
      </td>
    </tr>
  </tbody>
</nz-table>
